<%- include("header"); -%>
<main>
  <div id="heading">
    <h1 class="display-3">
      HTTP 401 Unauthorized. Login, Please!
    </h1>
    <form action="/authorization" method="GET">
      <input
        class="btn btn-lg btn-secondary"
        type="submit"
        value="Login Page"
      />
    </form>
  </div>
</main>
</body>