<%- include("header"); -%>
<main>
  <div id="heading">
    <h1 class="display-3">
      <%= message %>
    </h1>
    <form action="/" method="GET">
      <input class="btn btn-lg btn-secondary" type="submit" value="Main Page" />
    </form>
  </div>
</main>
</body>